.project-posts {
  list-style-type: none;
  margin: 0;
}

.project-post {
  padding: 1rem 0;

  a {
    padding: 1rem;
  }
  
  a:hover {
    color: #6e6e6e;
  }
  h3 {
    margin: 1rem 0;
  }
}

.project-post:nth-child(2) {
  background-color: #f0f0f0;
}

.img-container {
  margin: 0 1rem;
}

@media screen and (min-width: 765px) {
  .post {
    a {
		  padding: 0 3rem 0 3rem;
    }
  }
} 

@media screen and (min-width: 1025px) {
  .post {
	  a {
		  padding: 0 3.5rem 0 3.5rem;
    }
  }
}