.project-posts {
  list-style-type: none;
  margin: 0;
}

.project-post {
  padding: 1rem 0;

  a {
    padding: 1rem;
  }
  
  a:hover {
    color: #6e6e6e;
  }
  h3 {
    margin: 1rem 0;
  }
}

.project-post:nth-child(2) {
  background-color: #f0f0f0;
}

.img-container {
  margin: 0 1rem;
}

@media screen and (min-width: 765px) {
  .post {
    a {
		  padding: 0 3rem 0 3rem;
    }
  }
} 

@media screen and (min-width: 1025px) {
  .project-posts {
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    height: 100vh;
    .project-post {
      width: 45%;
    }
  }
  .project-post:nth-child(2) {
    background-color: transparent;
  }

  .project-post {
    position: relative;
    height: 240px;
    h3 {
      padding: 0;
    }
    a {
      padding: 0;
      margin-top: 1rem;;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .img-container {
      margin: 0;
      box-shadow: 7px 6px 8px -3px rgba(0,0,0,0.53);
    }
  }
}