.form-container {
  margin: 1rem 1rem 2rem 1rem;
  background-color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
  input, textarea {
    padding: 0.2rem;
  }
  input, label, textarea {
    width: 90%;
  }
  label {
    margin: 1rem 0 0 0;
  }
  textarea {
    height: 4rem;
  }
  button {
    width: 30%;
    align-self: flex-end;
    margin: 1rem 0 1rem 0;
    padding: 0.3rem;
    background-color: #f7f7f7;
    border-style: none;
    border: 1px solid #c0bebe;
    &:hover {
      cursor: pointer;
    }
  }
}

.gotcha {
  display: none;
}

@media screen and (min-width: 768px) {
  form {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 40%;
  }
}